.card {
    display: grid;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    text-align: center;
  }
  
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats;
  }
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
  }
  .card-stats {
    grid-area: stats;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #4481eb;
    height: 2em;
    padding: 1.5em auto;
    margin: 1em auto;
    background-color: #8478cc;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .card-stats:hover {
    letter-spacing: 0.2em;
    background-color: #f08c99;
  }
  
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }
  .card {
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
  }
  .card-style-img {
    grid-area: image;
    height: 150px;
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  